<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="login-container">
        <form class="login-form" action="/login" method="post" style="text-align: center;">
            <h2>Login to Your Account</h2>
            <input type="text" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button style="margin-bottom: 5px;" type="submit">Login</button>
            <a class="forgot-password" href="/forgotPass">Forgot your password?</a>
            <hr>
            <button type="button" class="create-account" >Create New Account</button>
        </form>
    </div>
    <script>
        document.querySelector('.create-account').addEventListener('click', function() {
            window.location.href = '/register';
        });
    </script>
</body>
</html>
